.page-not-found {
  text-align: center;
  margin-top: 50px;
}

.page-not-found h1 {
  font-size: 3rem;
  color: #ff4c4c;
}

.page-not-found p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.page-not-found a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
}

.page-not-found a:hover {
  text-decoration: underline;
}
