<div class = "container">
  <h2>Laptops</h2>
  <table>
    <thead><tr>
      <th>Brand</th>
      <th>SerialNumber</th>
      <th>Model</th>
      <th>Storage</th>
      <th>isAvailable</th>
      <th>image</th>
      <th>Purchase Date</th>
      <th>Price</th>
      <th>Option</th>
    </tr></thead>
  <tbody>
  <tr  *ngFor="let pad of laptopsArray" >
    <h3>{{pad.brand | uppercase}}</h3>
    <td>Serial Number : {{pad.serialNumber}}</td>
    <td>Model : {{pad.model}}</td>
    <td>Storage : {{pad.storage}}</td>
    <td>Available : {{pad.isAvailable | AvailableStatusPipe}}</td>
    <td><img [src]="pad.image" alt="{{ pad.model}}" style="max-width: 200px; height: auto;"/></td>

    <td>{{ pad.purchaseDate | date: 'shortDate' }}</td>
    <td>{{ pad.price | currency: 'INR' }}</td>

    <td>
    <button type = "button" (click)="editLaptop()">Edit</button>
    <button type = "button" (click)="deleteLaptop(pad)">Delete</button>
    </td>
  </tr>
  </tbody>
  </table>
</div>

