<div class="container">
  <h2>Laptops</h2>

  </div>

  <table>
    <thead>
    <tr>
      <th>Brand</th>
      <th>Serial Number</th>
      <th>Model</th>
      <th>Storage</th>
      <th>Availability</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pad of laptopsArray">
      <td>{{ pad.brand }}</td>
      <td>{{ pad.serialNumber }}</td>
      <td>{{ pad.model }}</td>
      <td>{{ pad.storage }}</td>
      <td>{{ pad.isAvailable ? 'YES' : 'NO' }}</td>
      <td><img [src]="pad.image" alt="{{ pad.model }}" style="max-width: 200px; height: auto;" /></td>
      <td>
        <button type="button" (click)="editLaptop()">Edit</button>
        <button type="button" (click)="deleteLaptop(pad)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

